._image {
    display: block;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}


.title{
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.content{
    margin-bottom: 40px;
}

.button{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 60px;
    width: 207px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    align-items: center;

    display: flex;
    justify-content: center;


}

.button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}


@media all and (min-width: 988px) and (max-width: 1219px) {
    .title{
        font-size: 68px;
        line-height: 83px;
    }

    .content{
        margin-bottom: 80px;
    }
}

@media all and (min-width: 1220px) {
    .title{
        font-size: 78px;
        line-height: 83px;
    }

    .content{
        margin-bottom: 100px;
    }
}
